*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.hui{
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: fit-content;
}

.img{
    width: 200px;
}

.highlight{
    background-color: red;
    color: cyan;
}